.attribution {
  font-size: 1.1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* Variables */
:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
}
/* Global Rules Start */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  display: block;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.5em;
}
/* Global Rules End */

/* For Debugging Only Start */
.debug {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -9;
  opacity: 0.5;
  opacity: 0;
}
/* For Debugging Only End */
body {
  font-family: "Spartan", sans-serif;
  /* - Weights: 400, 500, 700 */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(../images/bg-pattern-top-desktop.svg),
    url(../images/bg-pattern-bottom-desktop.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat;
}
.container {
  width: 87%;
  max-width: 1100px;
  margin: 10rem auto;
}
.top {
  text-align: center;
}
.left h1 {
  color: var(--Very-Dark-Magenta);
  margin-bottom: 3rem;
}
.left p {
  line-height: 1.6;
  color: var(--Dark-Grayish-Magenta);
}
.right {
  margin: 5rem 0;
}
.row {
  background-color: #f7f2f8;
  margin-bottom: 2rem;
  border-radius: 10px;
  padding: 1rem 3rem;
}
.row img {
  display: inline-block;
}
.row p {
  color: var(--Very-Dark-Magenta);
  font-weight: bold;
  margin-top: 1rem;
}
.bottom {
}
.bottom .card {
  background-color: var(--Very-Dark-Magenta);
  border-radius: 10px;
  margin-bottom: 2rem;
  color: white;
  padding: 3rem;
}
.bottom .card .profile {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}
.bottom .card .profile img {
  border-radius: 50%;
  width: 40px;
  margin-right: 2rem;
}
.bottom .card .profile h2 {
  font-size: 1.5rem;
}
.bottom .card .profile p {
  color: var(--Soft-Pink);
  margin-top: 0.5rem;
}
.bottom .card > p {
  line-height: 1.6;
  color: var(--Light-Grayish-Magenta);
}
@media (min-width: 900px) {
  .top {
    display: flex;
    justify-content: space-between;
  }
  .left {
    text-align: start;
    width: 40%;
    align-self: center;
  }
  .left h1 {
    font-size: 4.5rem;
    margin-bottom: 1rem;
  }
  .right {
    width: 50%;
  }
  .row {
    display: flex;
    align-items: center;
    width: 80%;
  }
  .row:nth-child(2) {
    margin: 2rem auto;
  }
  .row:last-child {
    margin-left: auto;
  }
  .row img {
    margin-right: 0.5rem;
  }
  .row p {
    margin-left: 3rem;
  }
  .bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    align-items: flex-start;
    margin-top: 3rem;
  }
  .card:nth-child(2) {
    margin-top: 2rem;
  }
  .card:last-child {
    margin-top: 4rem;
  }
}
